table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: left;
}

body {
    font: normal 10px Verdana, Arial, sans-serif;
}
